CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_ipq807x_generic_DEVICE_redmi_ax6=y
CONFIG_TARGET_DEVICE_ipq807x_generic_DEVICE_xiaomi_ax3600=y
CONFIG_TARGET_DEVICE_ipq807x_generic_DEVICE_xiaomi_ax9000=y
CONFIG_PACKAGE_attendedsysupgrade-common=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-netem=y
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-ucode=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-adblock=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-attendedsysupgrade=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-ntpc=y
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-openvpn-server=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-app-oscam=y
CONFIG_PACKAGE_luci-app-qbittorrent=y
CONFIG_PACKAGE_luci-app-rclone=y
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui=y
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vsftpd=y
CONFIG_PACKAGE_luci-app-wifischedule=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-app-wizard=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-edge=y
CONFIG_PACKAGE_oscam=y
CONFIG_OSCAM_USE_LIBCRYPTO=y
CONFIG_OSCAM_USE_LIBUSB=y
CONFIG_OSCAM_MODULE_CAMD33=y
CONFIG_OSCAM_MODULE_CAMD35=y
CONFIG_OSCAM_MODULE_CAMD35_TCP=y
CONFIG_OSCAM_MODULE_NEWCAMD=y
CONFIG_OSCAM_MODULE_CCCAM=y
CONFIG_OSCAM_MODULE_CCCSHARE=y
CONFIG_OSCAM_MODULE_GBOX=y
CONFIG_OSCAM_MODULE_RADEGAST=y
CONFIG_OSCAM_MODULE_SERIAL=y
CONFIG_OSCAM_MODULE_CONSTCW=y
CONFIG_OSCAM_MODULE_PANDORA=y
CONFIG_OSCAM_MODULE_GHTTP=y
CONFIG_OSCAM_MODULE_SCAM=y
CONFIG_OSCAM_READER_NAGRA=y
CONFIG_OSCAM_READER_IRDETO=y
CONFIG_OSCAM_READER_CONAX=y
CONFIG_OSCAM_READER_CRYPTOWORKS=y
CONFIG_OSCAM_READER_SECA=y
CONFIG_OSCAM_READER_VIACCESS=y
CONFIG_OSCAM_READER_VIDEOGUARD=y
CONFIG_OSCAM_READER_DRE=y
CONFIG_OSCAM_READER_TONGFANG=y
CONFIG_OSCAM_READER_BULCRYPT=y
CONFIG_OSCAM_READER_GRIFFIN=y
CONFIG_OSCAM_READER_DGCRYPT=y
CONFIG_OSCAM_USE_PCSC=y
CONFIG_OSCAM_CARDREADER_PHOENIX=y
CONFIG_OSCAM_CARDREADER_SC8IN1=y
CONFIG_OSCAM_CARDREADER_MP35=y
CONFIG_OSCAM_CARDREADER_SMARGO=y
CONFIG_OSCAM_CARDREADER_STINGER=y
CONFIG_OSCAM_CARDREADER_DRECAS=y
CONFIG_OSCAM_HAVE_DVBAPI=y
CONFIG_OSCAM_READ_SDT_CHARSETS=y
CONFIG_OSCAM_IRDETO_GUESSING=y
CONFIG_OSCAM_CS_ANTICASC=y
CONFIG_OSCAM_WITH_DEBUG=y
CONFIG_OSCAM_MODULE_MONITOR=y
CONFIG_OSCAM_WITH_LB=y
CONFIG_OSCAM_S_CACHEEX=y
CONFIG_OSCAM_CW_CYCLE_CHECK=y
CONFIG_OSCAM_CLOCKFIX=y
CONFIG_OSCAM_WEBIF=y
CONFIG_OSCAM_WEBIF_LIVELOG=y
CONFIG_OSCAM_WEBIF_JQUERY=y
CONFIG_OSCAM_TOUCH=y
CONFIG_OSCAM_WITH_SSL=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-iwinfo=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-rpcsys=y
CONFIG_PACKAGE_rpcd-mod-rrdns=y
CONFIG_PACKAGE_rpcd-mod-ucode=y
CONFIG_PACKAGE_ucode-mod-html=y
CONFIG_PACKAGE_ucode-mod-math=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_wpad-basic-wolfssl=m
CONFIG_PACKAGE_wpad-wolfssl=y
# CONFIG_TARGET_INITRAMFS_COMPRESSION_NONE is not set
CONFIG_TARGET_INITRAMFS_COMPRESSION_ZSTD=y
